<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<!--localRepository>
		S:\code\maven-repo
	</localRepository-->

	<interactiveMode />
	<usePluginRegistry />
	<offline />
	<mirrors>
		<mirror>
			<id>jhc.nexus</id>
			<name>JHC Mirror of http://repo1.maven.org/maven2/</name>
			<url>http://nexus.jhc.co.uk/nexus/content/groups/release/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>
	<proxies />
	<profiles>
		<profile>
			<id>jhc.dev</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<distribution.snapshot.url>http://nexus.jhc.co.uk/nexus/content/repositories/snapshots</distribution.snapshot.url>
				<distribution.release.url>http://nexus.jhc.co.uk/nexus/content/repositories/releases</distribution.release.url>
			</properties>
			<repositories>
				<repository>
					<id>jhc.dev</id>
					<name>JHC Internal Development Repository Group</name>
					<url>http://nexus.jhc.co.uk/nexus/content/groups/development/</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>jhc.release</id>
			<activation>
				<activeByDefault>false</activeByDefault>	
			</activation>
			<properties>
				<build.scm.user>releases</build.scm.user>
				<build.scm.password>jhcjhc</build.scm.password>
			</properties>
			<repositories>
				<repository>
					<id>jhc.release</id>
					<name>JHC Internal Release Repository Group</name>
					<url>http://nexus.jhc.co.uk/nexus/content/groups/release/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
	<activeProfiles />
	<servers>
		<server>
			<id>jhc.nexus</id>
			<username>dev</username>
			<password>jhcjhc</password>
		</server>
		<server>
			<id>jhc.dev</id>
			<username>dev</username>
			<password>jhcjhc</password>
		</server>
		<server>
			<id>jhc.release</id>
			<username>dev</username>
			<password>jhcjhc</password>
		</server>
		<server>
			<id>jhc.snapshot</id>
			<username>dev</username>
			<password>jhcjhc</password>
		</server>
	</servers>
</settings>